@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/fundo1.png);
    background-attachment: fixed;
    background-size: 100%;
}

/* HEADER */

#cabecalho{
    background-color: #211522d0;
    display: flex;
    align-items: center;
    position: relative;
    height: 10vw;
}

.div-imagem-cabecalho {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
}

.icones{
    margin: 20px;
}

.logo{
    width: 10vw;
}

.redirecionar{
    text-decoration: none;
}

h1{
    font-family: "Cinzel", serif;
    background-color: #B68D40;
    border-radius: 5px;
    width: 25vw;
    height: 10vh;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFFFFF;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.carrinho-fundo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.carrinho{
    background-color: #ffffff9d;
    border-radius: 5px;
    display: flex;
    width: 80vw;
    min-height: 23vw;
    flex-wrap: wrap;
}
    
.carrinho div{
    background-color: #FFFFFF;
    padding: 10px;
    width: 15vw;
    margin: 20px;
}
        
.carrinho img{
    width: 15vw;
}

#titulo-final{
    display: flex;
    justify-content: end;
}